.opening-text {

    padding-top: 25vh;
}

.opening {
    background-color: black;
}

.opener-arrow {
    height: 20px;
    width: 20px;
}

.arrow {
    opacity: 0;
    animation: popup 1s 2s forwards, bounce 2s 3.4s 3;
    transition: background-color .3s ease;
}

.arrow-align {
    display: flex;
    justify-content: center;
}

.arrow:hover {
    cursor: pointer;
    background-color: grey;
}

.some-icon {
    transition: opacity .2s ease;
}

.some-icon:hover {
    opacity: .5;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}